<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          ><img src="/assets/img/searchbar.png" class="img-responsive" alt=""
        /></span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Search Twitter"
        aria-label="Search"
        aria-describedby="basic-addon1"
      />
    </div>
  </form>
</nav>
<div class="list-group">
  <a
    href="#"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <div class="d-flex w-100 justify-content-between">
      <h6 class="Trends">Trends for you</h6>
      <i class="fa fa-cog"></i>
    </div>
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <p class="mb-1">Trending in Turkey</p>
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-0">#Front-End Developer</h6>
    </div>
    <small class="text-muted">11.4K Tweets</small>
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <p class="mb-1">Trending in Turkey</p>
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-0">#Back-End Developer</h6>
    </div>
    <small class="text-muted">8.3K Tweets</small>
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <p class="mb-1">Trending in Turkey</p>
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-0">#Mobile Developer</h6>
    </div>
    <small class="text-muted">6K Tweets</small>
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <p class="mb-1">Trending in Turkey</p>
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-0">#DevOps Developer</h6>
    </div>
    <small class="text-muted">2K Tweets</small>
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <p class="mb-1">Trending in Turkey</p>
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-0">#Big Data</h6>
    </div>
    <small class="text-muted">11.4K Tweets</small>
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <div class="d-flex w-100 justify-content-between">
      <h6 class="Showmore">Show More</h6>
    </div>
  </a>
</div>

<ul class="list-unstyled">
    <li class="media">
        <div class="media-body">
          <h5 class="mt-2 ml-2 mb-0">Who to follow</h5>
        </div>
      </li>
  <li class="media">
    <img
      class="mr-1 ml-2 "
      src="/assets/img/twitter-profile.png"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0 mb-1">Bilge Adam<button type="button" class="btn btn-primary btn-sm">Follow</button></h5>
    </div>
  </li>
  <li class="media">
    <img
      class="mr-1 ml-2 "
      src="/assets/img/twitter-profile.png"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0 mb-1">Opthema Teknoloji<button type="button" class="btn btn-primary btn-sm">Follow</button></h5>
    </div>
  </li>
  <li class="media">
    <img
      class="mr-1 ml-2 "
      src="/assets/img/twitter-profile.png"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0 mb-1">HR Thema <button type="button" class="btn btn-primary btn-sm">Follow</button></h5> 
    </div>
  </li>
</ul>
