/* Small devices (landscape phones, 576px ve yukarısı) */
@media (max-width: 576px) {
  .navbar {
    display: none;
  }

  .list-group {
    display: none;
  }
  .list-unstyled {
    display: none;
  }
}

/* Medium devices (tablets, 768px ve yukarısı) */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .list-group {
    display: none;
  }
  .list-unstyled {
    display: none;
  }
}

/* Large devices (desktops, 992px ve yukarısı) */
@media (max-width: 992px) {
  .navbar {
    display: none;
  }

  .list-group {
    display: none;
  }
  .list-unstyled {
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px ve yukarısı) */
@media (max-width: 1200px) {
  .navbar {
    display: none;
  }

  .list-group {
    display: none;
  }
  .list-unstyled {
    display: none;
  }
}

.news {
  margin-top: 3%;
}
.navbar {
  border-radius: 50em;
}

#basic-addon1 {
  background-color: transparent;
  border: 0;
}

.form-control {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
}

.list-group {
  margin-top: 5%;
}

.list-group-item {
  border-left: 0px;
  border-right: 0px;
  background-color: rgb(252, 252, 252);
}

.mb-1 {
  font-size: 12px;
}

.mb-0 {
  color: black;
}

.Showmore {
  color: #1da1f2;
}

.Trends {
  color: black;
  font-size: 18px;
}

.list-group i {
  color: #1da1f2;
}

.list-unstyled {
  background-color: rgb(252, 252, 252);
  margin-top: 15%;
}

.media {
  margin-top: 5%;
  border-bottom: 1px solid rgb(211, 209, 209);
}

.btn-primary {
  margin-left: 5%;
  display: inline-block;
  background-color: transparent;
  color: #1da1f2;
  border-radius: 24px;
}
