/* Small devices (landscape phones, 576px ve yukarısı) */
@media (max-width: 576px) {
  .leftCol span {
    font-size: 0px;
  }
}

/* Medium devices (tablets, 768px ve yukarısı) */
@media (max-width: 768px) {
  .leftCol span {
    font-size: 0px;
  }
}

/* Large devices (desktops, 992px ve yukarısı) */
@media (max-width: 992px) {
  .leftCol span {
    font-size: 0px;
  }
  .leftButton{
    width: 50%;
  }
}


/* Extra large devices (large desktops, 1200px ve yukarısı) */
@media (max-width: 1200px) {
}

.container {
  display: inline-block;
  margin: 1%;
}

.leftCol {
  padding: 3%;
}

.leftCol a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.leftCol span {
  font-weight: bold;
  position: relative;
}

.leftCol a:hover {
  background-color: rgb(231, 239, 243);
  border-radius: 20px;
  color: #31a9f3;
}

.btn-primary{
  background-color: #1DA1F2;
  width: 75%;
  border-radius: 20px;
}

.leftButton{
  padding: 3%;
}
