<div class="navbar">
  <div class="leftColBird row ">
    <img
      src="/assets/img/twitter-icon.png"
      class="deneme img-responsive"
      alt=""
    />
  </div>

  <div class="leftCol row">
    <img src="/assets/img/twitter-home.png" class="img-responsive" alt="" />
    <div class="leftColText"><p>Home</p></div>
  </div>

  <div class="leftCol row">
    <img src="/assets/img/twitter-hashtag.png" class="img-responsive" alt="" />
    <div class="leftColText"><p>Explore</p></div>
  </div>

  <div class="leftCol row ">
    <img src="/assets/img/twitter-bell.png" class="img-responsive" alt="" />
    <div class="leftColText"><p>Notifications</p></div>
  </div>

  <div class="leftCol row">
    <img src="/assets/img/twitter-message.png" class="img-responsive" alt="" />
    <div class="leftColText"><p>Messages</p></div>
  </div>

  <div class="leftCol row ">
    <img src="/assets/img/twitter-bookmark.png" class="img-responsive" alt="" />
    <div class="leftColText"><p>Bookmarks</p></div>
  </div>

  <div class="leftCol row">
    <img src="/assets/img/twitter-lists.png" class="img-responsive" alt="" />
    <div class="leftColText"><p>Lists</p></div>
  </div>

  <div class="leftCol row">
    <img src="/assets/img/twitter-profile.png" class="img-responsive" alt="" />
    <div class="leftColText"><p>Profile</p></div>
  </div>

  <div class="leftCol row">
    <img src="/assets/img/twitter-more.png" class="img-responsive" alt="" />
    <div class="leftColText"><p>More</p></div>
  </div>
</div>
<div class="leftColButton">
  <a class="btn btn-primary" href="#" role="button" target="_blank">Tweet</a>
</div>
