<div class="container">
  <div class="leftCol row justify-content-start">
    <a href="#"><span><img src="/assets/img/twitter-icon.png" class="img-responsive" alt=""/></span></a>
  </div>

  <div class="leftCol mt-3 row justify-content-start">
    <a href="#"> <span><img src="/assets/img/twitter-home.png" class="img-responsive" alt=""/> Home</span></a>
  </div>

  <div class="leftCol row mt-3 justify-content-start ">
    <a href="#"><span><img src="/assets/img/twitter-hashtag.png" class="img-responsive" alt=""/> Explore</span></a>
  </div>

  <div class="leftCol row mt-3 justify-content-start">
    <a href="#"> <span><img src="/assets/img/twitter-bell.png" class="img-responsive" alt=""/> Notifications</span></a>
  </div>

  <div class="leftCol row mt-3 justify-content-start">
    <a href="#"><span><img src="/assets/img/twitter-message.png" class="img-responsive" alt=""/> Messages</span></a>
  </div>

  <div class="leftCol row mt-3 justify-content-start">
    <a href="#"> <span><img src="/assets/img/twitter-bookmark.png" class="img-responsive" alt=""/> Bookmarks</span></a>
  </div>

  <div class="leftCol row mt-3 justify-content-start">
    <a href="#"> <span><img src="/assets/img/twitter-lists.png" class="img-responsive" alt=""/> Lists</span></a>
  </div>

  <div class="leftCol row mt-3 justify-content-start">
    <a href="#"> <span><img src="/assets/img/twitter-profile.png" class="img-responsive" alt=""/> Profile</span></a>
  </div>

  <div class="leftCol row mt-3 justify-content-start">
    <a *ngIf="isAuthenticated" (click)="logOut()"> <span><img src="/assets/img/twitter-more.png" class="img-responsive" alt=""/> Log out</span></a>
  </div>

  <div class="leftButton row mt-3 justify-content-start">
  <button class="btn btn-primary" type="submit">Tweet</button></div>
</div>
